{% extends 'base.html.twig' %}
{% block title %}
    Administration
{% endblock %}

{% block body %}

    <h1>Mon blog</h1>
    <p>En construction</p>

    {{ session.show('add_article') }}
    {{ session.show('edit_article') }}
    {{ session.show('delete_article') }}
    {{ session.show('delete_comment') }}

    <h2>Articles</h2>
    <a href="../public/index.php?route=addArticle">Nouvel article</a>

    {% for article in articles  %}
        <h2><a href="../public/index.php?route=article&articleId={{ article.id }}">{{ article.title }}</a></h2>
        {{ article.content | striptags | slice(0, 150) | raw}}
    {% endfor %}

    <h2>Commentaires signalés</h2>

    {% for comment in comments  %}
        <h2><a href="../public/index.php?route=article&articleId={{ comment.id }}"></a></h2>
        {{ comment.pseudo }}
        {{ comment.content | striptags | slice(0, 150)}}
        {{ comment.date }}
        <a href="../public/index.php?route=unflagComment&commentId={{ comment.getId() }}"><img src="{{ BASE_URL }}./public/css/img/unflag.png" alt="désignaler" /></a>
        <a href="../public/index.php?route=deleteComment&commentId={{ comment.getId() }}"><img src="{{ BASE_URL }}./public/css/img/delete.png" alt="supprimer" /></a>
    {% endfor %}
    <h2>Utilisateurs</h2>

<table>
    {% for user in users  %}
        <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.pseudo }}</td>
        <td>{{ user.date }}</td>
        <td>{{ user.role }}</td>
        <td>
            {%  if user.role() != 'admin' %}
            <a href="../public/index.php?route=deleteUser&userId={{ user.getId() }}"><img src="{{ BASE_URL }}./public/css/img/delete.png" alt="suppression" title="Supprimer l'utilisateur"/></a>
                {% else %}
            Suppression impossible !
            {% endif %}
        </td>
        </tr>
      {% endfor %}
</table>

{% endblock %}