{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block body %}
    <body>
    {% include 'navigation.html.twig' %}

    <!-- Page Header -->
    <header class="masthead" id="home-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Billet simple pour l'Alaska</h1>
                        <span class="subheading">Jean Forteroche</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <div class="container">
        <p class="session-message">
            {{ session.show('flag_comment') }}
            {{ session.show('register') }}
            {{ session.show('login') }}
            {{ session.show('logout') }}
            {{ session.show('delete_account') }}
            {{ session.show('add_comment') }}
        </p>
        <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
                <div class="post-preview">
                    <h2>Derniers chapitres :</h2>
                    {% for article in articles %}
                        <article class="article-list">
                            <h2>
                                <a href="../public/index.php?route=article&articleId={{ article.id }}">{{ article.title }}</a>
                            </h2>
                            <h3>{{ article.content | striptags | slice(0, 150) | raw }}</h3>
                            <p>{{ article.date }}</p>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p class="copyright text-muted">Copyright &copy; Julie Ramis</p>
        </div>
    </footer>


    </body>
{% endblock %}

