{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}

   {% if session.get('pseudo') %}
   <a href="../public/index.php?route=logout">Déconnexion</a>
   <a href="../public/index.php?route=profile">Profil</a>
   {% else %}

   <a href="../public/index.php?route=register">Inscription</a>
   <a href="../public/index.php?route=login">Connexion</a>

   {% endif %}

   {% if session.get('role') == 'admin' %}
   <a href="../public/index.php?route=administration">Administration</a>
   {% endif %}

   {{ session.show('flag_comment') }}
   {{ session.show('register') }}
   {{ session.show('login') }}
   {{ session.show('logout') }}
   {{ session.show('delete_account') }}


   <h1>Blog de Jean Forteroche</h1>
   <p>En construction</p>

   {% for article in articles  %}
      <h2><a href="../public/index.php?route=article&articleId={{ article.id }}">{{ article.title }}</a></h2>
      <p>{{ article.content |raw }}</p>

   {% endfor %}

{% endblock %}

